<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ESPeed - Device</title>
  <meta name="description" content="ESPeed">
  <meta name="author" content="Michał">

  <meta property="og:title" content="ESPeed - Device">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Measure your vehicle velocity">

  <link rel="stylesheet" href="/static/css/device.css">
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <script src="/static/js/nav.js" defer></script> 
  <script src="/static/js/device.js" defer></script> 

</head>

<body>
  <div class="container">
	{%NAVBAR%}

	<div class="content">	
		<div class="properties-container">
			<div class="property-container">
				<i class="fas fa-battery-full"></i>
				<div class="property-text">Battery:</div>
				<div class="property-value">10</div>
			</div>
			
			<div class="property-container">
				<i class="fas fa-crosshairs"></i>
				<div class="property-text">Fix type:</div>
				<div class="property-value">10</div>
			</div>
			
			<div class="property-container">
				<i class="fab fa-bluetooth"></i>
				<div class="property-text">Bluetooth state:</div>
				<div class="property-value">10</div>
			</div>
			
			<div class="property-container">
				<i class="fas fa-satellite"></i>
				<div class="property-text">Satellites in view:</div>
				<div class="property-value">10</div>
			</div>
			
			<div class="property-container">
				<i class="fas fa-info-circle"></i>
				<div class="property-text">Firmware version:</div>
				<div class="property-value">10</div>
			</div>
		</div>	
		
		<button id="check-firmware-button" class="button">
			<div class="button-text">Check for updates</div>
		</button>
	</div>
  </div>
</body>
</html>
