<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ESPeed - Main</title>
  <meta name="description" content="ESPeed">
  <meta name="author" content="Michał">

  <meta property="og:title" content="ESPeed - Main">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Measure your vehicle velocity">

  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <script src="/static/js/nav.js" defer></script> 
  <script src="/static/js/index.js" defer></script> 

</head>

<body>
  <div class="container">
	{%NAVBAR%}

	<div class="content">
		<div class="speedometer">
			<div class="velocity-wrapper">
				<div class="velocity">0</div>
				<div class="velocity-unit">km/h</div>
			</div>
		</div>
		
			<div class="icons-container">
				<div class="icon-container">
					<i class="fas fa-satellite"></i>
					<div>15</div>
				</div>
				<div class="icon-container">
					<i class="fas fa-crosshairs"></i>
					<div>3D</div>
				</div>
				<div class="icon-container">
					<i class="fab fa-bluetooth"></i>
					<div>OK</div>
				</div>
			</div>
			
			<form class="button send-button-container" method="POST" action="/send/">
				<input type="hidden" id="time-start" name="time-start" value=""> 
				<input type="hidden" id="time-end" name="time-end" value=""> 
				<button id="send-button" class="button-text">Send</button>
			</form>

			<div class="button start-button-container">
				<div id="start-button" class="button-text">Start</div>
			</div>
	</div>
  </div>
</body>
</html>
