<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ESPeed - Login</title>
  <meta name="description" content="ESPeed">
  <meta name="author" content="Michał">

  <meta property="og:title" content="ESPeed - Login">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Measure your vehicle velocity">

  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="stylesheet" href="/static/css/all.css">

</head>

<body>
  <div class="container">
	<div class="logo">
		ESPeed
	</div>
	<div class="main-form">
		<form class="main-form-content" method="POST">
			<div class="main-form-input-container">
				<div class="main-form-input">
					<div class="icon"><i class="fas fa-user-alt"></i></div>
					<input name="username" type="text" placeholder="Username">
				</div>
				<div class="main-form-input">
					<div class="icon"><i class="fas fa-lock"></i></div>
					<input name="password" type="password" placeholder="Password">
				</div>
				<b class="error-text">{%ERROR_TEXT%}</b>
			</div>
			<div class="main-form-button-container">
				<button class="login-button">
					<div class="login-text">
						Login
					</div>
				</button>
			</div>
		</form>
	</div>
  </div>
</body>
</html>
