<nav>
    <div class="logo">
    <a href="/">ESPeed</a>
    </div>
    <div class="navigation">
        <ul>
            <li><a href="/device/">Device</a></li>
            <li><a href="/scoreboard/">Scoreboard</a></li>
            <li class="avatar-container"><a href="/profile/{%USERID%}"><img class="avatar" src="/static/img/avatar.png"/></a></li>
        </ul>
    </div>
    <div class="navigation-mobile">
        <ul>
            <li><i id="burger" class="fa fa-bars"></i></li>
        </ul>
    </div>
    <ul class="navigation-links" id="navigation-links">
        <li><a href="/device/">Device</a></li>
        <li><a href="/scoreboard/">Scoreboard</a></li>
        <li><a href="/profile/{%USERID%}">Profile</a></li>
    </ul>
</nav>