<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ESPeed - Profile</title>
  <meta name="description" content="ESPeed">
  <meta name="author" content="Michał">

  <meta property="og:title" content="ESPeed - Profile">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Measure your vehicle velocity">

  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <script src="/static/js/nav.js" defer></script> 

  <script src="/static/js/profile.js" defer></script> 

</head>

<body>
  <div class="container">
	{%NAVBAR%}

	<div class="content">
		<div class="profile-avatar-container">
			<img class="profile-avatar" src="/static/img/avatar.png"/>
		</div>
		
		<div class="info-row-container">
            <div>Nickname: <b>{%USERNAME%}</b> </div>
            <div>Registered at: <b>{%CREATED_AT%}</b> </div>
            <div>Recorded routes: <b>{%ROUTE_COUNT%}</b></div>
            <div>Place in score board: <b>{%PLACE%}</b></div>
            <div>Total score: <b>{%SCORE%}</b></div>
			{%LOGOUT%}
		</div>
		
		<div class="headers-container">
			<div class="header-place">Lp</div>
			<div class="header-name">Car</div>
			<div class="header-score">Time</div>
		</div>
		
		<div class="scoreboard">
            {%LEADERBOARD%}
		</div>
	</div>
  </div>
</body>
</html>
