<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ESPeed - Route</title>
  <meta name="description" content="ESPeed">
  <meta name="author" content="Michał">

  <meta property="og:title" content="ESPeed - Route">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Measure your vehicle velocity">

  <link rel="stylesheet" href="/static/css/record.css">
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <script src="/static/js/nav.js" defer></script> 

  <script>
	// Initialize and add the map
	function initMap() {
	  var map_html = document.getElementById("map");
	  const start = { lat: parseFloat(map_html.getAttribute("position-start-latitude")), lng: parseFloat(map_html.getAttribute("position-start-longitude")) };
	  const end = { lat: parseFloat(map_html.getAttribute("position-end-latitude")), lng: parseFloat(map_html.getAttribute("position-end-longitude")) };

	  const map = new google.maps.Map(map_html, {
		zoom: 15,
		center: start,
	  });

	  const marker_start = new google.maps.Marker({
		position: start,
		map: map,
	  });

	  const marker_end = new google.maps.Marker({
		position: end,
		map: map,
	  });
	}
  </script>

</head>

<body>
  <div class="container">
	{%NAVBAR%}

	<div class="content">
		<div class="image-container">
			<img src="/static/img/car.png"/>
		</div>
		<div class="column-container">
			<div class="column">
				<div class="text-container">
					<div class="left">Brand:</div>
					<div class="right">{%BRAND%}</div>
				</div>
				<div class="text-container">
					<div class="left">Time (0-100):</div>
					<div class="right">{%TIME%}</div>
				</div>
				<div class="text-container">
					<div class="left">Engine:</div>
					<div class="right">{%ENGINE%}</div>
				</div>
			</div>
			<div class="column">
				<div class="text-container">
					<div class="left">Model:</div>
					<div class="right">{%MODEL%}</div>
				</div>
				<div class="text-container">
					<div class="left">Transmission:</div>
					<div class="right">{%TRANSMISSION%}</div>
				</div>
				<div class="text-container">
					<div class="left">Score:</div>
					<div class="right">{%SCORE%}</div>
				</div>
			</div>
		</div>
		<div id="map" class="map" position-start-latitude="{%POS_START_LAT%}" position-start-longitude="{%POS_START_LONG%}" position-end-latitude="{%POS_END_LAT%}" position-end-longitude="{%POS_END_LONG%}"></div>
		<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTIkSf2p92ZGQfFa2CWPMC0kbJb8SrNWk&callback=initMap">
		</script>
	</div>
</div>
</body>
</html>
