<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ESPeed - Scoreboard</title>
  <meta name="description" content="ESPeed">
  <meta name="author" content="Michał">

  <meta property="og:title" content="ESPeed - Scoreboard">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Measure your vehicle velocity">

  <link rel="stylesheet" href="/static/css/scoreboard.css">
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <script src="/static/js/nav.js" defer></script> 

</head>

<body>
  <div class="container">
	{%NAVBAR%}

	<div class="content">
		<div class="greetings">
			Hi, <p id="nickname">{%USERNAME%}</p>
		</div>
		
		<div class="info-row-container">
			<div class="info-row">
				<div class="header">
					Your score
				</div>
				<div class="value">
					{%SCORE%}
				</div>
			</div>
			<div class="info-row">
				<div class="header">
					Your place
				</div>
				<div class="value">
					{%PLACE%}
				</div>
			</div>
		</div>
		
		<div class="headers-container">
			<div class="header-place">Place</div>
			<div class="header-name">Name</div>
			<div class="header-score">Score</div>
		</div>
		
		<div class="scoreboard">
			{%LEADERBOARD%}
		</div>
	</div>
  </div>
</body>
</html>
