<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ESPeed - Send route</title>
  <meta name="description" content="ESPeed">
  <meta name="author" content="Michał">

  <meta property="og:title" content="ESPeed - Send route">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Measure your vehicle velocity">

  <link rel="stylesheet" href="/static/css/send.css">
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <script src="/static/js/nav.js" defer></script> 

  <script>
      var modelList = [{%MODELS%}];
  </script>

  <script src="/static/js/send.js" defer></script> 

</head>

<body>
  <div class="container">
    {%NAVBAR%}
	
    <form class="content" method="POST" action="/commit/">
        <div class="input-container">
            <div class="input-container-left">
                Brand:
            </div>
            <div class="input-container-right input-field">
                <select id="brand-select" name="brand-select">
                    {%BRANDS%}
                </select>
            </div>
        </div>

        <div class="input-container">
            <div class="input-container-left">
                Model:
            </div>
            <div class="input-container-right input-field">
                <select id="model-select" name="model-select">

                </select>
            </div>
        </div>

        <div class="input-container">
            <div class="input-container-left">
                Engine:
            </div>
            <div class="input-container-right input-field">
                <input type="text" id="engine-input" name="engine-input">
            </div>
        </div>

        <div class="input-container">
            <div class="input-container-left">
                Transmission:
            </div>
            <div class="input-container-right input-field">
                <input type="text" id="transmission-input" name="transmission-input">
            </div>
        </div>

        <div class="input-container">
            <div class="input-container-left">
                <b>Time:</b>
            </div>
            <div class="input-container-right time-container">
                <b>{%TIME%}s</b>
            </div>
        </div>

        <input type="hidden" id="position-start-latitude" name="position-start-latitude" value="50.071374"> 
        <input type="hidden" id="position-start-longitude" name="position-start-longitude" value="19.944850"> 
        <input type="hidden" id="position-stop-latitude" name="position-stop-latitude" value="50.073505"> 
        <input type="hidden" id="position-stop-longitude" name="position-stop-longitude" value="19.944391"> 
        <input type="hidden" id="time-start" name="time-start" value="{%TIME_START%}"> 
        <input type="hidden" id="time-end" name="time-end" value="{%TIME_END%}"> 

        <button class="button">
            <div id="start-button" class="button-text">Send</div>
        </button>
	</form>
  </div>
</body>
</html>
