body {
	margin: 0;
	padding: 0;
	background: transparent linear-gradient(180deg, #373331 0%, #808080 100%) 0% 0% no-repeat padding-box;
	width: 98vw;
	max-width: 98vw;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 60%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	width: 90%;
	padding: 5%;
	min-height: 80%;
	
	background: #201A14 0% 0% no-repeat padding-box;
	background-color: rgba(32, 26, 20, 0.6);
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.properties-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.property-container {
	background: #201A14 0% 0% no-repeat padding-box;
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	width: 15vw;
	height: 5vh;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	
	margin: 25px;
	
	font: normal normal normal 1vw Segoe UI;
	letter-spacing: 0.06px;
	color: #FFFFFF;
}

.property-container i {
	width: 15%;
	text-align: center;
	color: rgba(249, 198, 70, 0.65);
	font-size: 1.5vw;
}

.property-container .property-text {
	width: 70%;
}

.property-container .property-value {
	width: 15%;
}

.button {
	background: transparent linear-gradient(180deg, #9B7A55 0%, #373129 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #707070;
	border-radius: 10px;
	width: 35%;
	height: 60px;
}

.button-text {
	margin: 10px;
	text-align: center;
	font: normal normal normal 1.5vw Segoe UI;
	letter-spacing: 0.05px;
	color: #FFFFFF;
	text-transform: uppercase;
}




@media only screen and (max-width: 700px) {
	.container {
		width: 90%;
	}
	
	.content {
		background: transparent;
		border: none;
		height: 100%;
	}
	
	body {
		background: transparent linear-gradient(180deg, #777777 0%, #211C1A 100%) 0% 0% no-repeat padding-box;
	}
	
	.properties-container {
		width: 100%;
	}
	
	.property-container {
		width: 100%;
		font-size: 6vw;
		height: 15vw;
	}
	
	.property-container i {
		font-size: 7vw;
	}
	
	.button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 5vh;
	}
	
	.button-text {
		font-size: 6vw;
	}
}