body {
	margin: 0;
	padding: 0;
	background: transparent linear-gradient(180deg, #373331 0%, #808080 100%) 0% 0% no-repeat padding-box;
	width: 98vw;
	max-width: 98vw;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 60%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	width: 90%;
	padding: 5%;
	min-height: 80%;
	
	background: #201A14 0% 0% no-repeat padding-box;
	background-color: rgba(32, 26, 20, 0.6);
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}







.speedometer {
	display: block;
	margin-top: 50px;
	margin-bottom: 20px;
}

.velocity {
	display: inline-block;
	font: normal normal normal 10vw Segoe UI;
	letter-spacing: 0.4px;
	color: #FFFFFF;
}

.velocity-unit {
	display: inline-block;
	font: normal normal normal 5vw Segoe UI;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.icons-container {
	width: 100%;
	height: 15vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 70px;
}

.icon-container {
	background: #201A14 0% 0% no-repeat padding-box;
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	min-width: 15%;
	height: 100%;
	margin: 25px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon-container i {
	color: rgba(249, 198, 70, 0.65);
	font-size: 3vw;
	margin-bottom: 10px;
}

.icon-container div {
	color: #FFFFFF;
	font: normal normal normal 2vw Segoe UI;
}

.button {
	background: transparent linear-gradient(180deg, #9B7A55 0%, #373129 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #707070;
	border-radius: 10px;
	width: 35%;
	height: 60px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-text {
	margin: 10px;
	text-align: center;
	font: normal normal normal 1.5vw Segoe UI;
	letter-spacing: 0.05px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.start-button-container {
	margin-top: 30px;
}

.send-button-container {
	visibility: hidden;
}

#send-button {
	background: transparent;
	border: none;
}



@media only screen and (max-width: 700px) {
	.container {
		width: 90%;
	}
	
	.content {
		background: transparent;
		border: none;
		height: 100%;
	}
	
	body {
		background: transparent linear-gradient(180deg, #777777 0%, #211C1A 100%) 0% 0% no-repeat padding-box;
	}
	
	.speedometer {
		height: 40vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	.velocity {
		font-size: 35vw;
	}
	
	.velocity-unit {
		font-size: 8vw;
	}
	
	.icons-container {
		height: 10vh;
	}
	
	.icon-container {
		min-width: 30%;
		margin: 5px;
	}
	
	.icon-container i {
		font-size: 6vw;
	}

	.icon-container div {
		font-size: 4vw;
	}
	
	.button-text {
		font-size: 6vw;
	}
	
	.button {
		width: 60%;
	}
}