nav {
	width: 100%;
	height: 8%;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	letter-spacing: 0.7px;
	color: #FFFFFF;
	
	margin-bottom: 35px;
	margin-top: 5px;
}

.logo {
	height: 100%;
	width: 30%;
	
	font: normal normal normal 2.5vw Segoe UI;
	
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.navigation {
	height: 100%;
	width: 70%;
	
	font: normal normal normal 2vw Segoe UI;
	
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}

.navigation-mobile {
	height: 100%;
	width: 70%;
	
	font: normal normal normal 2vw Segoe UI;
	
	display: none;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	flex-wrap: wrap;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.navigation ul li {
	display: inline-block;
	margin-right: 10px;
}

.navigation-mobile ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation-mobile ul li {
	display: inline-block;
	margin-right: 10px;
	font-size: 2vh;
}

.navigation-links {
	display: none;
	width: 100%;
	list-style-type: none;
	margin: 0;
	margin-top: 20px;
	padding: 0;
}

.navigation-links li {
	margin-bottom: 5px;
	font-size: 2.5vh;
}

.navigation-links li a {
	text-decoration: none;
	color: #FFFFFF;
}

.navigation-links li a:visited {
	color: #FFFFFF;
}

.navigation-links li a:hover {
	color: #ffffffc0;
}

.navigation ul li a {
	text-decoration: none;
	color: #FFFFFF;
}

.navigation ul li a:visited {
	color: #FFFFFF;
}

.navigation ul li a:hover {
	color: #ffffffc0;
}

.logo a {
	text-decoration: none;
	color: #FFFFFF;
}

.logo a:visited {
	color: #FFFFFF;
}

.logo a:hover {
	color: #ffffffc0;
}

.avatar {
	border: 1px solid #707070;
	border-radius: 50%;
	background-color: white;
	width: 42px;
	height: 42px;

	position: relative;
	top: 7px;
}




@media only screen and (max-width: 700px) {
	.navigation-mobile {
		display: flex;
	}

	.navigation {
		display: none;
	}

	.logo {
		font-size: 3vh;
	}
}