body {
	margin: 0;
	padding: 0;
	background: transparent linear-gradient(180deg, #373331 0%, #808080 100%) 0% 0% no-repeat padding-box;
	width: 98vw;
	max-width: 98vw;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 60%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	width: 90%;
	padding: 5%;
	min-height: 80%;
	
	background: #201A14 0% 0% no-repeat padding-box;
	background-color: rgba(32, 26, 20, 0.6);
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}





.column-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}


.text-container {
	background: #201A14 0% 0% no-repeat padding-box;
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	width: 75%;
	height: 100%;
	margin: 25px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	color: #FFFFFF;
	font: normal normal normal 1.5vw Segoe UI;
	padding: 10px;
}

.text-container .left {
	width: 70%;
}

.text-container .right {
	width: 30%;
	text-align: right;
}

.map {
	width: 100%;
	height: 300px;
	margin-top: 20px;
}

.image-container {
	background: #201A14 0% 0% no-repeat padding-box;
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	width: 40%;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

.image-container img {
	width: 100%;
}



@media only screen and (max-width: 700px) {
	.container {
		width: 90%;
	}
	
	.content {
		background: transparent;
		border: none;
		height: 100%;
	}
	
	body {
		background: transparent linear-gradient(180deg, #777777 0%, #211C1A 100%) 0% 0% no-repeat padding-box;
	}
	
	.column-container {
		flex-wrap: wrap;
	}
	
	.column {
		width: 100%;
	}
	
	.text-container {
		width: 100%;
		font-size: 6vw;
		height: 15vw;
	}
	
	.image-container {
		width: 60%;
	}
}