body, html {
	margin: 0;
	padding: 0;
}

.container {
	background: transparent linear-gradient(180deg, #373331 0%, #808080 100%) 0% 0% no-repeat padding-box;
	width: 100vw;
	height: 100vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	text-align: left;
	font: normal normal normal 67px/89px Segoe UI;
	letter-spacing: 1.34px;
	color: #FFFFFF;
	margin-bottom: 35px;
}

.main-form {
	width: 25%;
	height: 50%;
	background: #201A14 0% 0% no-repeat padding-box;
	background-color: rgba(32, 26, 20, 0.6);
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding: 5px;
	padding-bottom: 50px;
}

.main-form-content {
	width: 55%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-form-input-container {
	height: 85%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15%;
}

.main-form-button-container {
	height: 15%;
	width: 100%;
}

.main-form-input {
	background: #201A14 0% 0% no-repeat padding-box;
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	width: 100%;
	height: 25%;
	margin-top: 15px;
	margin-bottom: 15px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.main-form-input .icon {
	width: 20%;
	color: rgba(249, 198, 70, 0.65);
	font-size: 22px;
}

.main-form-input input {
	width: 80%;
	height: 100%;
	background-color: transparent;
	border: none;
	text-align: left;
	font: normal normal normal 25px/33px Segoe UI;
	letter-spacing: 0.05px;
	color: #FFFFFF;
	outline: none;
}

.login-button {
	background: transparent linear-gradient(180deg, #9B7A55 0%, #373129 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #707070;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.login-text {
	margin: 10px;
	text-align: center;
	font: normal normal normal 25px/33px Segoe UI;
	letter-spacing: 0.05px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.error-text {
	color: red;
	margin-top: 20px;
	margin-bottom: 20px;
}



@media only screen and (max-width: 700px) {
  .main-form {
    background-color: transparent;
	border: none;
	width: 90%;
  }
  
  .container {
		background: transparent linear-gradient(180deg, #777777 0%, #211C1A 100%) 0% 0% no-repeat padding-box;
  }
  
  .main-form-content {
	  width: 100%;
  }
  
  .main-form {
	  height: 100%;
  }
  
  .main-form-input {
	  height: 40%;
  }
  
  .main-form-input-container {
	  padding-top: 25%;
	  height: 90%;
  }
  
  .logo {
	  height: 30%;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-end;
	  align-items: center;
	  margin-bottom: 0px;
	  
  }
  
  .main-form-button-container {
	  height: 80%;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-end;
	  align-items: center;
  }
  
  .login-button {
	  height: 25%;
  }
}