body {
	margin: 0;
	padding: 0;
	background: transparent linear-gradient(180deg, #373331 0%, #808080 100%) 0% 0% no-repeat padding-box;
	width: 98vw;
	max-width: 98vw;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 60%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	width: 90%;
	padding: 5%;
	min-height: 80%;
	
	background: #201A14 0% 0% no-repeat padding-box;
	background-color: rgba(32, 26, 20, 0.6);
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}







.greetings {
	display: inline-block;
	color: #FFFFFF;
	width: 100%;
	font-size: 2vw;
	letter-spacing: 0.08px;
}

.greetings p {
	display: inline-block;
}

.info-row-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	
	width: 100%;
}

.info-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background: #201A14 0% 0% no-repeat padding-box;
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	
	width: 15%;
	padding: 10px;
	margin-right: 35px;
	
	color: #FFFFFF;
	letter-spacing: 0.05px;
}

.info-row .header {
	margin-bottom: 15px;
	font-size: 1.5vw;
}

.info-row .value {
	font-size: 1.5vw;
}

.headers-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	color: #FFFFFF;
	
	margin-top: 50px;
	font-size: 2vw;
}

.headers-container .header-place {
	width: 10%;
}

.headers-container .header-name {
	width: 80%;
}

.headers-container .header-score {
	width: 10%;
}

.scoreboard {
	margin-top: 15px;
	
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background: #201A14 0% 0% no-repeat padding-box;
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	padding: 10px;
}

.score-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	
	width: 100%;
	
	color: #FFFFFF;
	font-size: 1.3vw;
	
	padding: 5px;

	
	border-bottom: 1px solid #707070;
	margin-bottom: 5px;
}

.score-row .score-place {
	width: 10%;
	text-align: center;
}

.score-row .score-avatar {
	width: 5%;
}

.score-row .score-name {
	width: 75%;
}

.score-row .score-score {
	width: 10%;
	text-align: center;
}


@media only screen and (max-width: 700px) {
	.container {
		width: 90%;
	}
	
	.content {
		background: transparent;
		border: none;
		height: 100%;
	}
	
	body {
		background: transparent linear-gradient(180deg, #777777 0%, #211C1A 100%) 0% 0% no-repeat padding-box;
	}
	
	.greetings {
		font-size: 8vw;
	}
	
	.info-row {
		width: 50%;
		margin: 10px;
	}
	
	.info-row .header {
		font-size: 5vw;
	}

	.info-row .value {
		font-size: 5vw;
	}
	
	.headers-container {
		font-size: 5vw;
	}
	
	.headers-container .header-place {
		width: 25%;
	}

	.headers-container .header-name {
		width: 55%;
	}

	.headers-container .header-score {
		width: 20%;
	}
	
	.score-row {
		font-size: 5vw;
	}
	
	.score-row .score-place {
		width: 15%;
	}

	.score-row .score-avatar {
		width: 10%;
	}

	.score-row .score-name {
		width: 65%;
	}

	.score-row .score-score {
		width: 10%;
		margin-right: 10px;
	}
}