body {
	margin: 0;
	padding: 0;
	background: transparent linear-gradient(180deg, #373331 0%, #808080 100%) 0% 0% no-repeat padding-box;
	width: 98vw;
	max-width: 98vw;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 60%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	width: 90%;
	padding: 5%;
	min-height: 80%;
	
	background: #201A14 0% 0% no-repeat padding-box;
	background-color: rgba(32, 26, 20, 0.6);
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.input-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;

	font: normal normal normal 1vw Segoe UI;
	letter-spacing: 0.06px;
	color: #FFFFFF;

    width: 30%;
}

.input-container-left {
    margin-right: 20px;
}

.button {
	background: transparent linear-gradient(180deg, #9B7A55 0%, #373129 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #707070;
	border-radius: 10px;
	width: 35%;
	height: 60px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-text {
	margin: 10px;
	text-align: center;
	font: normal normal normal 1.5vw Segoe UI;
	letter-spacing: 0.05px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.input-field {
    background: #201A14 0% 0% no-repeat padding-box;
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	width: 100%;
	height: 20%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.input-field input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	text-align: left;
	font: normal normal normal 5vw Segoe UI;
	letter-spacing: 0.05px;
	color: #FFFFFF;
	outline: none;
    margin-left: 10px;
}

.input-field select {
	width: 90%;
	height: 100%;
	background-color: transparent;
	border: none;
	text-align: left;
	font: normal normal normal 5vw Segoe UI;
	letter-spacing: 0.05px;
	color: #FFFFFF;
	outline: none;
    margin-left: 10px;
}

.input-field select option {
    background-color: #201A14;
}

.time-container {
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 700px) {
	.container {
		width: 90%;
	}
	
	.content {
		background: transparent;
		border: none;
		height: 100%;
	}
	
	body {
		background: transparent linear-gradient(180deg, #777777 0%, #211C1A 100%) 0% 0% no-repeat padding-box;
	}

    .input-container {
        width: 80%;
    }

    .input-container-left {
        font-size: 5vw;
    }

    .time-container {
        font-size: 5vw;
    }

    .button-text {
        font-size: 5vw;
    }
}